/* styles.css or styles.module.css */
.link {
    display: inline-block;
    cursor: pointer;
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--color-hover);
}

.footer-container {
    position: relative;
    width: 100%;
    background-color: #111827; /* Main color */
    color: #ffffff; /* Text color */
    padding: 10px 0; /* Space on top and bottom */
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Minimal shadow for separation */
    margin-top: auto; /* Ensure it stays at the bottom */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    margin-bottom: 10px; /* Space between social links and email */
}

.social-link {
    margin: 0 10px;
    transition: color 0.3s ease;
}

.email {
    font-size: 14px;
}

.email.mobile {
    font-size: 12px;
}