.hero-section {
    height: 30vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.hero-section h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--color-gray-600);
    font-family: var(--font-family-barcode);
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}